body {
  padding: 60px 0 10px 0;
}
.navbar .dropdown-toggle {
  padding-left: 45px;
  background-size: 25px 25px;
  background-position: 15px center;
  background-repeat: no-repeat;
}
.top-row {
  margin-bottom: 20px;
}
a.back {
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
.clickme {
  cursor: pointer;
}
#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar .peg {
  box-shadow: 0 0 10px #2c3e50, 0 0 5px #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #2c3e50;
  border-left-color: #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  width: 30px;
  height: 30px;
}
button.filter {
  width: 100%;
  min-width: 40px;
}
#filter .list-group-item {
  position: relative;
}
#filter .list-group-item i {
  position: absolute;
  top: 10px;
  left: 5px;
}
#filter .list-group-item h5 {
  padding: 0 0 0 15px;
  margin: 0;
}
#filter .btn {
  width: 100%;
}
