<div class="navbar navbar-default" role="navigation">
  <form class="navbar-form navbar-left" role="search">

    <div class="form-group">
      <label for="author">Author</label>
      <select name="author" class="form-control" model="author">
        <option ng-repeat="author in page.authors" value="author">
          {{author === null ? "Everyone" : author}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="author">From</label>
      <input type="date" class="form-control" />
    </div>

    <div class="form-group">
      <label for="author">To</label>
      <input type="date" class="form-control" />
    </div>

  </form>
</div class="navbar">

<div class="row">
  <div class="col-md-12">

    <div class="posts">
      <p ng-show="empty" class="alert alert-warning">This page has no posts yet. Maybe we have not fetched them from Facebook yet. Try reloading the page in a minute or so.</p>

      <ul class="list-group">
        <li ng-repeat="post in posts" class="list-group-item">
          <p>{{post.from.name}}:</p>
          <p>{{post.message}}</p>
          <ul class="replies" ng-show="post.replies.length > 0">
            <li ng-repeat="reply in post.replies" class="list-group-item">
              <p>{{reply.from.name}}:</p>
              <p>{{reply.message}}</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>

