<page-nav page-id="pageId"></page-nav>

<div class="row">
  <div class="col-md-12">


    <div class="posts">
      <p ng-show="empty" class="alert alert-warning">This page has no posts yet. Maybe we have not fetched them from Facebook yet. Try reloading the page in a minute or so.</p>

      <ul class="list-group">
        <li ng-repeat="post in posts" class="list-group-item">
          <p>{{post.from.name}}:</p>
          <p>{{post.message}}</p>
          <ul class="comments" ng-show="post.comments.length > 0">
            <li ng-repeat="comment in post.comments" class="list-group-item">
              <p>{{comment.from.name}}:</p>
              <p>{{comment.message}}</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>

