<ul class="alert alert-info" style="padding-left: 25px">
	<li>You are identified with posts that ends with "/{{user.first_name}}". Example: "Hey, thanks for your positive feedback /{{user.first_name}}."</li>
	<li>Monthly reports are sent to {{user.email}}.</li>
</ul>

<button ng-hide="showRealDeleteButton" class="btn btn-warning" ng-click="showRealDeleteButton=true">Delete my Social Keep account</button>

<div class="alert alert-warning" ng-show="showRealDeleteButton">
	<p>Are you really sure you want to delete your account? Of course this will not affect your Facebook pages over at Facebook.</p>
	<br/>

	<form method="post" action="/delete">
		<button type="submit" class="btn btn-warning">Yes, really delete my account.</button>
		<span class="btn btn-default" ng-click="showRealDeleteButton=false">Cancel</span>
	</form>
</div>
