<p class="alert alert-warning" ng-show="user.last_fetched && pages.hasLoaded && pages.length === 0">No pages found.</p>

<div class="progress" ng-show="!user.last_fetched">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
    <span class="sr-only">{{progress}}% Complete</span>
  </div>
</div> 

<div class="list-group" ng-show="pages.list.length > 0">
  <a ng-repeat="page in pages.list" class="list-group-item" href="/pages/{{page.id}}">
    {{page.name}}
  </a>
</div>
